.newJobFormContainer {
	/*max-width: 495px;*/
	max-width: 600px;
	min-width: 235px;
}

@media only screen and (max-width: 575px) {
	.newJobFormContainer {
		max-width: 99%;
	}
}

.formItem {
	margin-top: 100px;
}

.formItemPaper {
	position: relative;
	bottom: 4px;
}

.formItemInput {
	position: relative;
	top: -10px;
}

.formItemInputNumber {
	margin-left: 16px;
	position: relative;
	top: -7px;
	left: 16px;
}

.iconAdjust {
	position: relative;
	bottom: 3px;
}

.resetButton {
	position: relative;
	left: 20px;
	bottom: 2px;
	margin-bottom: 5px;
	margin-right: 40px;
}

.formButtons {
	max-width: 500px;
	display: flex;
	justify-content: space-between;
}